.project {
  max-width: 600px;
  margin-bottom: 50px;
}
.project_title {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}
.project_title_link {
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  display: inline-block;
  background-color: transparent;
  white-space: nowrap;
}
.project_title > a:not(:first-child) {
  filter: invert(1);
}
.project_description {
  font-size: 1.5rem !important;
  margin-bottom: 2rem;
}
.project_tech {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.project_tech_item {
  /* cursor: pointer; */
  display: inline-block;
  margin: 3px 3px 3px 0;
  font-family: Inconsolata, monospace;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 3px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: 0 0;
}
