.project_box {
  padding: 2rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.project_box:first-child {
  background: linear-gradient(180deg, #f3cbab, #feedca);
}
.project_box:nth-child(2) {
  background: linear-gradient(180deg, #b1e5f9, #f4d2fe);
}
.project_box:nth-child(3),
.project_box:nth-child(6) {
  background: linear-gradient(180deg, #dbb4f3, #efb7d7);
}
.project_box:nth-child(4) {
  background: linear-gradient(180deg, #efa971, #e4cafe);
}
.project_box:nth-child(5) {
  background: linear-gradient(90deg, #b1e5f9, #f4d2fe);
}
.project_box:hover {
  background: black;
  border: 2px solid white;
}
.project_box:after {
  content: "";
  position: absolute;
  width: 103%;
  height: 101%;
  top: 1rem;
  right: 0;
  z-index: -1;
}
.project_box:hover:after {
  outline: 2px solid #fff;
}
.project_box_link {
  align-self: flex-end;
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project_box:hover .project_box_link {
  filter: invert(1);
}
.project_box_content {
  align-self: center;
}
.project_box_content h3 {
  margin-bottom: 5rem;
  letter-spacing: -0.5px;
  line-height: 4rem;
  font-family: Calibre-Medium, sans-serif;
  font-size: 4rem;
  max-width: 90%;
  text-transform: capitalize;
}
.project_box h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.project_box:hover .project_box_content {
  color: white;
}
