.skills {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.skills_category {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.skills ul {
  list-style-type: none;
}
.skills_category_item {
  text-transform: none;
  margin: 5px 0;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media only screen and (max-width: 900px) {
  .skills {
    flex-wrap: wrap;
  }
}
