.box {
  padding: 1rem 2rem 0.5rem;
  border: 1px solid #797575;
  border-bottom: 4px solid #09f755;
}
.box a {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
  color: #797575;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease-in-out;
}
.box img {
  align-self: flex-end;
  height: 2rem;
}
.svg {
  align-self: flex-end;
  transform: scale(1.3);
}
.stackoverflow {
  filter: invert(0.5);
}
