.button {
  background-color: #09f755;
  padding: 1.5rem 4rem;
  text-decoration: none;
  color: #000;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  border: 1.5px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: transparent;
  border: 1.5px solid #fff;
  color: #fff;
}
